{% assign identifier = include.identifier %}
{% assign items = include.items %}

<!-- Column-grid Modals -->
{% for item in items %}
{% assign galleryid = identifier | prepend: "gallery-" | append: forloop.index %}
<div class="column-grid-modal modal fade" id="{{ identifier }}Modal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <section class="modal-header">
      <div class="row justify-content-center">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h2 style="cursor: pointer" data-dismiss="modal">{{ page.name }}</h2>
        </div>
      </div>
    </section>
    <section class="modal-body diagonal-top">
      <div class="container">
        <hr class="star-primary">
        <h2>{{ item.title }}</h2>
        <br>
        <div class="row">
          <div class="col-lg-7">
            {% include carousel.html gallery=item.gallery galleryid=galleryid %}
            {% if item.profiles or item.custom_participants%}
              <div class="horizontal-divider">
                <h4>{{t.project_participants}}</h4>
            		<div class="profile-list">
            			{% for prof_name in item.profiles %}
            				{% include profile-card.html %}
            			{% endfor %}
                  {% for profile in item.custom_participants %}
                    {% include profile-card.html %}
                  {% endfor %}
            		</div>
              </div>
            {% endif %}
          </div>
          <div class="col-lg-5 content">
            <h4>{{ t.project_description }}</h4>
            {{ item.description | newline_to_br | markdownify}}
            <button class="button secondary" type="button" data-dismiss="modal"> {{t.project_back_button}} </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endfor %}
