{% assign identifier = include.identifier %}
{% assign items = include.items %}

<!-- Column-grid Modals -->
{% for item in items %}
{% assign galleryid = identifier | prepend: "gallery-" | append: forloop.index %}
<div class="column-grid-modal modal fade" id="{{ identifier }}Modal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <section class="modal-header">
      <div class="row justify-content-center">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <h2>{{ item.title }}</h2>
        </div>
        <div class="col-sm-2">
          <button type="button" data-dismiss="modal">&larr;Back to profile</button>
        </div>
      </div>
    </section>
    <section class="modal-body diagonal-top">
      <div class="container">
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8">
            {% include carousel.html gallery=item.gallery galleryid=galleryid %}
          </div>
          <div class="col-lg-4 content">
            {{ item.description | newline_to_br | markdownify}}
            <button type="button" data-dismiss="modal">&larr;Back to profile</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endfor %}
