<section class="hero">
	<div class="container halves">
		<div>
			<p class="">{{ page.hero_title_html }}</p>
			<div class="small">
				<p>- {{  page.hero_list_minus }}</p>
				<p><strong>+ {{  page.hero_list_plus }}</strong></p>
			</div>
			<p><a class="button alt" href="{{ site.baseurl }}/apply">{{page.apply_btn}}</a></p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/suira-landing-illustration.svg">
		</div>
	</div>
</section>

<section class="diagonal-top">
	<div class="container halves">
		<div>
			<h2 class="brand-color light-text editable">{{  page.market_problem_title_html }}</h2>
			<div class="small">
				<p class="editable">{{  page.market_problem_subtitle }}</p>
				<ul class="icon-list">
					<li class="small"><i class="fas fa-search"></i>{{  page.market_problem_list_search }}</li>
					<li class="small"><i class="fas fa-hands-helping"></i>{{  page.market_problem_list_alliance }}</li>
					<li class="small"><i class="fas fa-money-bill-wave"></i>{{  page.market_problem_list_clients }}</li>
					<li class="small"><i class="fas fa-chart-line"></i>{{  page.market_problem_list_business }}</li>
				</ul>
			</div>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/suira-illustration-2.svg">
		</div>
	</div>
</section>

<section class="dark-transparent light-text purpose centered-text" >
	<div class="container">
		<h2>{{  page.purpose_html }}</h2>
	</div>
</section>

<section>
	<div class="container">
		<div class="centered-text">
			<h2 class="brand-color light-text editable">{{ page.profiles_html }}</h2>
			<p class="small">{{page.profiles_subtitle}}</p>
			<div class="variable-columns bootstrap-wrapper" style="margin-top: 100px;">
				<div class="row">
					{% for prof_name in page.profiles %}
					{% assign idx = forloop.index | minus: 1 | modulo: 3 %}
					<div class="col-sm-4" style="margin-bottom: 15px;">
						<div class="container">
							{{name}}
							{% include profile-card-v.html profile_name=name%}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<p class="editable"><a href="{{ site.baseurl }}{{page.profiles_link}}">{{ page.profiles_link_text }} &rarr;</a></p>
		</div>
	</div>
</section>
