<section class="hero">
	<div class="container halves">
		<div>
			<h1>{{ page.hero_title_html }}</h1>
			<br>
			<div class="small">
				<p>- {{  page.hero_list_minus }}</p>
				<p><strong>+ {{  page.hero_list_plus }}</strong></p>
				<br>
			</div>
			<h4><a class="button alt" href="{{ site.baseurl }}/apply">{{page.apply_btn}}</a></h4>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/suira-landing-illustration.svg" />
		</div>
	</div>
</section>

<section class="diagonal-top">
	<div class="container halves">
		<div>
			<h2 class="brand-color light-text editable">{{  page.market_problem_title_html }}</h2>
			<div class="small">
				<p class="editable">{{  page.market_problem_subtitle }}</p>
				<ul class="icon-list">
					<li class="small"><i class="fas fa-search"></i>{{  page.market_problem_list_search }}</li>
					<li class="small"><i class="fas fa-hands-helping"></i>{{  page.market_problem_list_alliance }}</li>
					<li class="small"><i class="fas fa-money-bill-wave"></i>{{  page.market_problem_list_clients }}</li>
					<li class="small"><i class="fas fa-chart-line"></i>{{  page.market_problem_list_business }}</li>
				</ul>
				<br>
			</div>
			<h2 class="brand-color light-text editable"> {{page.tell_us_more}} <a style="text-decoration: underline;" href="{{page.tell_us_more_link_url}}" target="_blank">{{page.tell_us_more_link_text}}</a></h2>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/suira-illustration-2.svg" />
		</div>
	</div>
</section>

<section class="dark-transparent light-text purpose centered-text">
	<div class="container">
		<h2>{{  page.purpose_html }}</h2>
	</div>
</section>

<section>
	<div class="container">
		<div class="centered-text">
			<h2 class="brand-color light-text editable">{{ page.profiles_html }}</h2>
			<p class="small">{{page.profiles_subtitle}}</p>
				<div style="margin-top: 50px;" class="profile-grid">
					{% for prof_name in page.profiles %}
						{% include profile-card.html profile_name=name %}
					{% endfor %}
				</div>
				<br>
			<h4><a class="button secondary " href="{{ site.baseurl }}{{page.profiles_link}}">{{page.profiles_link_text}}</a></h4>
			<h4><a class="button secondary " href="{{ site.baseurl }}/apply">{{page.apply_second_btn}}</a></h4>
		</div>
	</div>
</section>
