{% assign media = include.media %}
<div class="mediaWrapper {{media.controls_theme}}" style="background-image: url('{{media.image}}')">
<div class="desc-overlay {{media.controls_theme}}">
  <h5>{{media.title}}</h5>
  <h5>{{media.subtitle}}</h5>
</div>
{% case media.hosting %}
  {% when 'image' %}
		<div class="featured-image">
			<img src="{{media.image}}">
		</div>
  {% when 'audio' %}
    <audio class="js-player" src="{{media.audio_path}}"></audio>
  {% else %}
    <div class='js-player' data-plyr-provider="{{media.hosting}}" data-plyr-embed-id="{{media.content_id}}"></div>
{% endcase %}
</div>
