<section class="hero sm-shrink" style="padding-top: 200px;">
	<div class="container">
		<h2 class="sm-large" style="font-weight: 300; text-align: center;">{{page.title | upcase }}</h2>
	</div>
</section>
<section class="diagonal-top">
	<div class="container">
		<h2>Our goal is to free you from your administrative tasks, so that you can focus on what's important: Your Craft!</h2>
		<br>

		<h4>Here, you will be able to:</h4>
		<br>

		<h4>Create a Professional Profile</h4>
		<p>
		- Show the best of your work
		<br>
		- Let people easily contact you
		<br>
		- Connect with other creatives
		<br>
		- Link all your pages
		</p>
		<br>

		<h4>Charge like a Pro</h4>
		<p>
		- Know how much to charge for your work
		<br>
		- Use professional help to have your Quotations and Contracts
	    </p>
		<br>
		
		<h4>Get paid on time</h4>
		<p>
		- Forget about chasing clients no more
		<br>
		- Receive your payments in full
	    </p>
		<br>

		<h4>Keep Track</h4>
		<p>
		- Improve your finances and your activities
		<br>
		- Receive a monthly report with tips on how to improve
	    </p>
		<br>
	</div>
</section>