{% case include.icon %}
	{% when "Facebook" %}
		<i class="fa fa-facebook"></i>
	{% when "Instagram" %}
		<i class="fa fa-instagram"></i>
	{% when "LinkedIn" %}
		<i class="fa fa-linkedin"></i>
	{% when "Pinterest" %}
		<i class="fa fa-pinterest"></i>
	{% when "Tumblr" %}
		<i class="fa fa-tumblr"></i>
	{% when "Twitter" %}
		<i class="fa fa-twitter"></i>
	{% when "YouTube" %}
		<i class="fa fa-youtub"></i>
	{% when "RSS" %}
		<i class="fa fa-rss"></i>
	{% when "Vimeo" %}
		<i class="fa fa-vimeo"></i>
	{% when "Youtube" %}
	  <i class="fa fa-youtube"></i>
{% endcase %}
