.column-grid-item {
  right: 0;
  margin: 0;
  padding: 0 5px 0 5px !important;
}

.column-grid-item .column-grid-link {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto 10px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.column-grid-item .column-grid-link .column-grid-hover {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s, filter .5s;
  &:hover {
    opacity: 1;
    img {
      transform: scale(1.1);
    }
  }
  img {
    filter: saturate(1.2) blur(2px);
    transition: transform .5s;
  }

  .column-grid-hover-content {
    z-index: 3;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    font-size: 20px;
    color: white;
    p {
      color: white;
    }
    i {
      margin-top: -12px;
    }
    h3, h4 {
      margin: 0;
    }
  }
}

.column-grid-item .column-grid-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

.column-grid-item .column-grid-caption h4 {
  margin: 0;
  text-transform: none;
}

.column-grid-item .column-grid-caption p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}
