article.column-grid-content {
  text-align: justify;
}

.column-grid-modal .modal-content {
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.column-grid-modal .modal-header {
  @media (min-width: 576px) {
    padding-bottom: 8.5vw;
  }
  padding: 50px 0;
  background: $brand-color;
  background: linear-gradient(130deg, $brand-color 0%, $brand-color-light 100%);
  color: white;
}

.column-grid-modal .modal-content h2 {
  margin-bottom: 15px;

  @media (max-width: 575px) {
    margin: 0;
  }
}

.column-grid-modal .modal-content p {
  margin-bottom: 30px;
}

.column-grid-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-style: italic;
}

.column-grid-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.column-grid-modal .modal-content img {
  margin-bottom: 30px;
}

.column-grid-modal .close-modal {
  padding: 0 15px;
  background-color: transparent;
  cursor: pointer;
}

.column-grid-modal .close-modal:hover {
  opacity: .3;
}

.column-grid-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.column-grid-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.column-grid-modal .modal-header button {
  background: transparent;
  color: white;
}

.column-grid-modal .modal-body .content button {
  text-align: center;
  text-decoration:underline;
  font-weight: 300;
  color: rgba(0,0,0,0.8);
  background: transparent;
  cursor: pointer;
  transition: color .25s;
  &:hover {
    color: rgba(0,0,0,0.3);
  }
}

.column-grid-modal .modal-body .content *:not(button, div) {
  text-align: justify;
}

.column-grid-modal .modal-body .content a {
  text-decoration: underline;
  color: rgb(0, 119, 204);
}
