html {
	background: $html-background-color;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

a {
	color: $brand-color;
	text-decoration: none;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	color: black;
}

a:hover {
	text-decoration: underline;
}

button {
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-weight: 300;
	font-size: 1.2rem;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: .9rem;
	margin: 0 0 10px 0;
}

h3 {
	font-size: .8rem;
	margin: 0 0 20px 0;
}

h4 {
	font-size: .65rem;
	margin: 0 0 10px 0;
}

p, address, ul, ol, pre {
	margin: 0 0 10px 0;
}

p, address, ul, ol {
	font-size: .5rem;
	color: #444;
	font-weight: 300;
	line-height: 1.6;
}

svg {
	height: 12px;
	width: 12px;
}

ul, ol {
	padding-left: 15px;
}

pre {
	padding: 10px;
	background: #eee;
	border-radius: 2px;
}

@media (min-width: 576px) {
	h1 {
		font-size: 1.8rem;
		margin: 0;
	}

	h2 {
		font-size: 1.5rem;
		margin: 0 0 10px 0;
	}

	h3 {
		font-size: 1.4rem;
		margin: 0 0 20px 0;
	}

	h4 {
		font-size: 1.3rem;
		margin: 0 0 10px 0;
	}

	p, address, ul, ol, pre {
		margin: 0 0 10px 0;
		padding-left: inherit;
	}

	p, address, ul, ol {
		font-size: .9rem;
		line-height: 1.6;
	}

	svg {
		height: 15px;
		width: 15px;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 2rem;
		margin: 0;
	}

	h2 {
		font-size: 1.8rem;
		margin: 0 0 10px 0;
	}

	h3 {
		font-size: 1.6rem;
		margin: 0 0 20px 0;
	}

	h4 {
		font-size: 1.1rem;
		margin: 0 0 10px 0;
	}

	p, address, ul, ol, pre {
		margin: 0 0 10px 0;
		padding-left: inherit;
	}

	p, address, ul, ol {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	svg {
		height: 18px;
		width: 18px;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 2.1rem;
		margin: 0;
	}

	h2 {
		font-size: 2.0rem;
		margin: 0 0 10px 0;
	}

	h3 {
		font-size: 1.6rem;
		margin: 0 0 20px 0;
	}

	h4 {
		font-size: 1.3rem;
		margin: 0 0 10px 0;
	}

	p, address, ul, ol, pre {
		margin: 0 0 10px 0;
	}

	p, address, ul, ol {
		font-size: 1.18rem;
		line-height: 1.6;
	}

	svg {
		height: 21px;
		width: 21px;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 2.1rem;
		margin: 0;
	}

	h2 {
		font-size: 2.0rem;
		margin: 0 0 10px 0;
	}

	h3 {
		font-size: 1.6rem;
		margin: 0 0 20px 0;
	}

	h4 {
		font-size: 1.3rem;
		margin: 0 0 10px 0;
	}

	p, address, ul, ol, pre {
		margin: 0 0 10px 0;
	}

	p, address, ul, ol {
		font-size: 1.18rem;
		line-height: 1.6;
	}

	svg {
		height: 24px;
		width: 24px;
	}
}
