footer {
	.social-footer {
		text-align: right;
		position: relative;
		top: 0;
		right: 0;
		padding: 0;
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin: 5px 2px;
			}
		}
	}

	.fa {
		font-size: 1rem;
		width: 30px;
		height: 30px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		margin: 2px 2px;
		border-radius: 50%;
	}

	.fa:hover {
		opacity: 0.7;
	}

	.fa-facebook {
		background: #3B5998;
		color: white;
	}

	.fa-twitter {
		background: #55ACEE;
		color: white;
	}

	.fa-google {
		background: #dd4b39;
		color: white;
	}

	.fa-linkedin {
		background: #007bb5;
		color: white;
	}

	.fa-youtube {
		background: #bb0000;
		color: white;
	}

	.fa-instagram {
		background: #e94065;
		color: white;
	}

	.fa-pinterest {
		background: #cb2027;
		color: white;
	}

	.fa-snapchat-ghost {
		background: #fffc00;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	.fa-skype {
		background: #00aff0;
		color: white;
	}

	.fa-android {
		background: #a4c639;
		color: white;
	}

	.fa-dribbble {
		background: #ea4c89;
		color: white;
	}

	.fa-vimeo {
		background: #45bbff;
		color: white;
	}

	.fa-tumblr {
		background: #2c4762;
		color: white;
	}

	.fa-vine {
		background: #00b489;
		color: white;
	}

	.fa-foursquare {
		background: #45bbff;
		color: white;
	}

	.fa-stumbleupon {
		background: #eb4924;
		color: white;
	}

	.fa-flickr {
		background: #f40083;
		color: white;
	}

	.fa-yahoo {
		background: #430297;
		color: white;
	}

	.fa-soundcloud {
		background: #ff5500;
		color: white;
	}

	.fa-reddit {
		background: #ff5700;
		color: white;
	}

	.fa-rss {
		background: #ff6600;
		color: white;
	}
	@extend section;
	min-height:9vw;
	padding: 30px 0;
	position: relative;
	background: $html-background-color;
	color: #fff;

	@media (max-width: 575px) {
		min-height: 80px;
	}

	&,
	a {
		color: #999;
	}

	h2 {
		font-size: 1.6em;
		margin: 2px 0;
		color: #ccc;
	}

	.variable-columns {
		display: flex;
		flex-flow: wrap;
		margin: -10px -10px 10px -10px;
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	.legal-line {
		width: 100%;
		padding: 5px 0 0 0;
		margin: 0;

		a {
			font-style: italic;
		}
		& > div {
			border-top: 1px solid rgba(0,0,0,0.2);
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
	}
}

.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;
	flex: 1 0 180px;

	li {
		list-style: none;
		margin: 15px 0;

		a {
			svg {
				fill: #999;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover {
				text-decoration: none;

				svg {
					fill: #fff;
				}
			}
		}
	}
}
