html, body {
	height: 100%;
}

p {
    font-size: 0.7rem;
}

.flex-container {
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column;
	header {
		flex: 0 1 auto;
	}
	section:nth-child(3) {
		flex: 1 1 auto;
	}
	footer {
		flex: 0 1 40px;
	}
}

.en:lang(en), .es:lang(es) {
	font-weight: bold;
}

.bootstrap-wrapper .row {
	margin: 0;
}

.brand-color {
	color: $brand-color;
}
.light-text {
	font-weight: 300;
}
.small {
	font-size: 1rem;
	p {
		font-size: 1rem;
		margin: unset;
	}
}
.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
	&.md-full {
		@media (max-width: 787px) {
			max-width: unset;
		}
	}
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.5rem;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.centered-text {
	text-align: center;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 100px 0 150px 0;
	background: #fff;
	margin-top: -2px;

	&.dark-transparent {
		background-color: rgba($brand-color,.8);
	}

	&.purpose {
		padding: 60px 0;
		color: white;
	}

	&.long-bottom {
		padding-bottom: 500px;
	}

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.diagonal-top {
		position: relative;
	}

	&.diagonal-top::before {
		position:absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 9vw;
		background-color: inherit;
		transform: translateY(-50%) skewY(-5deg);
	}

	&.hero {
		color: #ffffff;
		background: transparent;
		text-align: left;
		margin-top: -100px;
		padding-top: 250px;

		&.sm-shrink {
			@media (max-width: 575px) {
				padding-bottom: 50px;
			}
		}

		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 2.3rem;
		}

		p {
			font-size: 1.6rem;
			color: #fff;
		}

		.small {
			font-size: 1rem;
			p {
				font-size: inherit;
				margin: unset;
			}
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}

	&.alternate {
		background: #eee;
	}
}

.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;
	margin: 0;
	border: 1px solid #fff;
	background: #fff;
	text-decoration: none !important;
		@media (min-width: 576px) {
			margin: 20px 0 0 0;
		}

	&.secondary {
		padding: 2px 8px;
		background-color: $secondary-brand-color;
		border-radius: 4px;
		color: white;
		&:hover {
			background-color: $secondary-brand-color-light;
			transition: background-color .25;
		}
	}

	&:hover {
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
		transition: background .25s, color .25s;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.05);
		color: #fff;
		transform: translateY(1px);
	}
	transition: background .25s, color .25s;
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.1rem;
		color: $brand-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.circular-image {
	height: 150px;
	width: 150px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);

	&.small {
		height: 80px;
		width: 80px;
	}

	&.centered {
		margin: 0 auto;
		&.small-brk {

		}
	}

	img {
		position: absolute;
		object-fit: cover;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto auto;
		height: 100%;
		width: 100%;
		margin-bottom: unset !important;
	}
}

.square-div {
	max-width: 14vw;
	width: 100%;
	position: relative;

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	.circular-image {
		height: 100%;
		width: 100%;
		max-width: 14vw;
		max-height: 14vw;
		position: absolute;
		top: 0;
		left: 0;
	}

	&.small-centered {
		max-width: 86px;
		min-width: 56px;
		width: 6vw;
		margin: 0 auto;
		@media (max-width:575px) {
			max-width: 78px;
			max-height: 78px;
			min-width: 50px;
			min-height: 50px;
		}

		.circular-image {
			max-width: 86px;
			max-height: 86px;
			min-width: 56px;
			min-height: 56px;
			width: 6vw;
			height: 6vw;
			@media (max-width:575px) {
				max-width: 78px;
				max-height: 78px;
				min-width: 50px;
				min-height: 50px;
			}
		}
	}
}


@media only screen and (max-width: 768px) {
	.circular-image.centered.break-sm {
		margin: 0;
	}

	.center-md-left {
		text-align: center;
	}

	.retain-aspect {
		margin-bottom: 10px;
		position: relative;
		padding-top: 56.25%;
		& > div {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width:100%;
		}
	}
}

.card {
	text-align: center;
	h3 {
		font-size: 1.2rem;
	}
}


.floating-container {
	margin-top: -240px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
	padding: 0 40px;
	@media (max-width: 767px) {
		padding: 0 15px;
	}
}

.container.card {
	margin-top: 0;
	top: -200px;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}

ul.icon-list {
	margin-top: 50px;
	padding: 0;
	list-style-type: none;
	font-size: inherit;

	li {
		margin: 10px 0;
	}

	i {
		color: $brand-color;
		font-size: .8rem;
		background-color: $brand-color-light;
		padding: 8px 0px;
		width: 30px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		line-height: 15px;
		border-radius: 50%;
		margin-right: 15px;
	}
}

.xs-nopad {
	@media (max-width: 575px) {
		padding: 0 !important;
	}
}

ul.specialties-list {
	list-style-type: none;
	margin: 5px 0 10px 0;
	padding: 0;
	font-size: .4rem;
	@media (min-width: 576px) {
		margin: 5px 0 10px 0;
		font-size: .65rem;
		font-weight: 400;
	}
	li {
		display: inline-block;
		background-color: darken($html-background-color, 30%);
		color: white;
		padding: 0 2px;
		border-radius: 8px;
		margin-bottom: 1px;
		@media (min-width: 576px) {
			padding: 0 8px;
			margin-bottom: 5px;
		}
	}

	&.ref {
		margin: auto 0 0 0;
		padding-left: 5px;
	}
}

ul.star-rating {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: -5px;
	li {
		margin: 0;
		display: inline-block;
	}

	&.unchecked {
		color: $html-background-color;
	}

	&.checked {
		position: absolute;
		top: 0;
		color: $secondary-brand-color-light;
		display:inline-block;
		white-space: nowrap;
		overflow: hidden;
	}
}

.mediaWrapper {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&.light {
		.plyr__controls {
			color: #EEE;
		}
	}

	&.dark {
		.plyr__controls {
			color: #444;
		}
	}
	.plyr__controls {
		position: absolute;
		bottom: 0;
		background: transparent;
		width: 100%;
	}

	.desc-overlay {
		position:absolute;
		z-index: 1;
		padding-left: 10px;
		&.light {
			color: #EEE;
		}
		&.dark {
			color: #444;
		}
		h5 {
			margin: 0;
		}
	}
}

.horizontal-divider {
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 10px 0;
}

@media (max-width: 991px) {
	.plyr__volume {
		display: none;
	}
}

.prof-description {
	p {
		padding-left: 0;
	}
}

.social-links {
	display: inline-block;
	ul {
		padding-left: 0;
		list-style-type: none;
		li {
			display: inline-block;
			svg {
				fill: gray;
			}
			a {
				transition: opacity .25s;
			}
			a:hover {
				opacity: 0.5;
			}
		}
	}
}

.location {
	display: inline-block;
	i {
		color: $secondary-brand-color;
	}
}

.row.same-height {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	& > [class*='col-'] {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-direction: column;
	}
}

h3.sm-large {
	@media (max-width: 575px) {
		font-size: 1.3rem;
	}
}

.prof-header {
	.offset {
		margin-top: -2vw;
	}
}

.profile-grid {
	margin-top: -80px;
	@media (min-width: 575px) {
		display: grid;
		grid-template-columns: 48% 48%;
		grid-gap: 2rem 4%;
		.profile-card {
			background: white;
			border-radius: 10px;
			box-shadow: 0 5px 20px rgba(0,0,0,0.3);
			padding: 0px 40px;
		}
	}
	@media (min-width: 767px) {
		grid-template-columns: 32% 32% 32%;
		grid-gap: 2rem 1%;
	}
	.profile-card {
		width: 100%;
		@media (max-width: 767px) {
			padding: 5px 15px;
			border-top: 1px solid #d9d9d9;
			border-bottom: 1px solid #d9d9d9;
			margin-top: -1px;
		}
		a {
			@media (min-width: 576px) {
				text-align: center;
				flex-direction: column;
				align-items: center;
				& > * {
					display:inline-block;
				}
				.offset {
					margin-top: -2vw;
				}
				.card-content {
					align-items: center;
				}
			}
			.card-content {
				@media (min-width: 576px) {
					padding-left: unset;
					text-align: center;
				}
			}
		}
	}
}

.profile-card {
	justify-content: center;
	p {
		margin: 0;
	}
	a {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		.card-content {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 5px;
			text-align: left;
		}
	}
}

.space-between {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	width: 100%;
	p {
		@media (min-width:768px) {
			font-size: .8rem;
		}
		margin-bottom: 1px !important;
	}
}

.card-content > * {
	margin-bottom: 1px !important;
}

.profile-list {
	.profile-card {
		width: 100%;
		padding: 5px 15px;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		margin-top: -1px;
	}
}

#contact .contact-info {
	h5 {
		display: inline-block;
		margin: 0;
	}
	p, a {
		display:inline-block;
		font-size: 1rem;
	}
}
