---
layout: default
---
<section class="hero sm-shrink" style="padding-top: 200px;">
	<div class="container">
		<h2 class="sm-large" style="font-weight: 300; text-align: center;">{{page.title | upcase }}</h2>
	</div>
</section>
<section class="diagonal-top" style="padding: 0;">
	<div class="container">
		<h2>{{page.heading}}</h2>
		<p>{{page.subtitle}}</p>
		<form action="http://formspree.io/{{site.data.company.contact_form_email}}" method="post" class="contact-form">
			<input type="text" name="_gotcha" style="display: none;" />

			<div class="halves">
				<div>
					<label for="name">{{page.f_name}}</label>
					<input type="text" name="first-name" id="first-name" placeholder="{{page.f_name_placeholder}}" />
				</div>

				<div>
					<label for="name">{{page.l_name}}</label>
					<input type="text" name="last-name" id="last-name" placeholder="{{page.l_name_placeholder}}" />
				</div>
			</div>

			<label for="email">{{page.input_email}}</label>
			<input type="email" name="email" id="email" placeholder="{{page.email_placeholder}}" required />

			<label for="message">{{page.msg}}</label>
			<textarea name="message" id="message" placeholder="{{page.msg_placeholder}}"></textarea>

			<input type="submit" value="{{page.submit_txt}}" />
		</form>
	</div>
</section>

<section class="">
	<div class="container halves aligned-top">
		<div>
			<h2>{{page.phone}}</h2>
				<phone><a target="_blank" href="tel:{{site.data.company.contact_phone_number}}">{{ site.data.company.contact_phone_number }}</a></phone>
		</div>
		<div>
			<h2>{{page.email}}</h2>
			<p><a href="mailto:{{ site.data.company.contact_email_address }}">{{ site.data.company.contact_email_address }}</a></p>
		</div>
	</div>
</section>
