---
layout: default
---
<section class="hero">
	<div class="container">
		<h3 style="font-weight: 300; text-align: right;"><a href="{{ site.baseurl }}/profiles/">&larr;Back to profiles</a></h3>
	</div>
</section>

<section class="diagonal-top">
	<div class="container">
		<div class="floating-container bootstrap-wrapper">
			<div class="row">
				<div class="col-md-3" style="text-align: center;">
					<div class="circular-image offset">
						<img src="{% include relative-src.html src=page.profile_image %}">
					</div>
				</div>
				<div class="col-md-7" style="text-align: left;">
					<h3 style="font-weight: 300; margin: 20px 0 0 0;">{{page.name}}</h3>
					<ul class="specialties-list">
						{% for specialty in page.specialties %}
							<li>{{specialty | strip}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-2" style="text-align: center;">
					<p><a class="button secondary" href="{{ site.baseurl }}/contact/">Contactar</a></p>
				</div>
			</div>
			<div>

			<!-- PROFILE DESCRIPTION -->
			<div class="prof-description container">
				<p>{{page.description | newline_to_br }}</p>
			</div>
			<!-- /PROFILE DESCRIPTION -->

			<!-- FEATURED ITEMS -->
			{% if page.featured %}
				<div class="bootstrap-wrapper container horizontal-divider">
					<h2 id="featured">Featured</h2>
					{% for media in page.featured %}
						{% assign mod_idx = forloop.index | minus: 1 | modulo: 2%}
						{% if mod_idx == 0 %}
							<div class="row" style="margin-bottom: 15px;">
						{% endif %}
						<div class="col-md-6">
							{% include multimedia.html media=media %}
							{% if mod_idx == 1 %}
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<!-- /FEATURED ITEMS -->

			<!-- SERVICES -->
			{% if page.services %}
				<div class="container horizontal-divider" id="services">
					<h2>Services</h2>
					<ul>
						{% for service in page.services %}
							<li>{{service | strip}}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<!-- /SERVICES -->

			<!-- REFERENCES -->
			{% if page.references %}
				<div class="container horizontal-divider" id="references">
					<h2>References</h2>
					{% for reference in page.references %}
					<div class="ref-item bootstrap-wrapper container">
						<div class="row ref-header">
							<div class="col-md-2 ref-profile">
								<div class="circular-image small centered break-sm">
									{% if reference.link %}
									<a href="{{reference.link}}" target="_blank">
									{% endif %}
										<img src="{% include relative-src.html src=reference.profile_image %}">
									{% if reference.link %}
									</a>
									{% endif %}
								</div>
							</div>
							<div class="col-md-10">
								<div class="row">
									{% if reference.link %}
									<a href="{{reference.link}}" target="_blank">
									{% endif %}
										<h3 style="font-weight: 300; margin: 0;">{{reference.name}}</h3>
									{% if reference.link %}
									</a>
									{% endif %}
									<ul class="specialties-list ref" style="font-size: 0.8rem;margin:auto 0 0 0;">
										{% for specialty in reference.specialties %}
										<li>{{specialty | strip}}</li>
										{% endfor %}
									</ul>
								</div>
								<div class="row" style="position: relative; display: inline-block;">
									<ul class="star-rating unchecked">
										<li><i class="far fa-star"></i></li>
										<li><i class="far fa-star"></i></li>
										<li><i class="far fa-star"></i></li>
										<li><i class="far fa-star"></i></li>
										<li><i class="far fa-star"></i></li>
									</ul>
									<ul class="star-rating checked" style="width: calc({{reference.rating_number}}/5.0*100%)">
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
									</ul>
								</div>
								<div class="row">
									<p>{{reference.description | newline_to_br}}</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			{% endif %}
			<!-- /REFERENCES -->

			<!-- TRAYECTORY -->
			{% if page.trayectory %}
				<div class="container horizontal-divider" id="services">
					<h2>Trayectory</h2>
					<ul>
						{% for trayectory in page.trayectory %}
							<li>{{trayectory | strip}}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<!-- /TRAYECTORY -->

			<!-- PROJECTS -->
			<div class="container horizontal-divider" id="projects">
				<h2>Projects</h2>
			</div>
			<!-- /PROJECTS -->
			</div>
		</div>
	</div>
</section>
<script src="https://cdn.plyr.io/3.5.10/plyr.polyfilled.js"></script>
<script>
const players = Plyr.setup('.js-player');
</script>
